.footer {
    min-height: 960px;
    max-height: 960px;
    border: 1px solid red;
    background-color: rgb(234, 209, 213);

    &__text {
        max-width: 42%;
        border: 1px solid green;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        font-size: 35px;

        h2 {
            font-weight: 500;
        }
    }

    &__people {
        max-width: 100%;
        min-height: 500px;
        border: 1px solid blue;
        margin: auto;
        margin-top: 37px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    &__person {
        min-width: 27%;
        min-height: 370px;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eed5be;
    }


    &__image {

        img {
            width: 134px;
            height: 134px;
        }

    }

    &__info {

        h3 {
            font-size: 30px;
            font-weight: 600;
        }
    }

    &__logo {
        img {
            width: 65px;
            height: 65px;
        }
    }

    &__contact {
        max-width: 100%;
        min-height: 143px;
        border: 1px solid yellow;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: brown;
        font-size: 28px;
    }

    &__container {
        width: 100%;
        height: 89px;
        border: 1px solid brown;
        display: flex;
        justify-content: center;
    }

    &__triangle {
        width: 0px;
        height: 0px;
        border: 788px solid transparent;
        border-top: 0;
        border-bottom: 87px solid rgb(240, 235, 236);
    }

}

