.welcome {
    min-height: 808px;
    max-height: 808px;
    border: 1px solid green;
    background-color: #EBD7D7;

    /*     START SLIDER     */

    /* Slideshow container */
.slideshow-container {
    max-width: 1900px;
    min-width: 1900px;
    min-height: 200px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .images {
    max-height: 200px;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


    // SLIDER IS ALREADY FINISHEd    

    &__main {
        max-width: 70%;
        min-height: 570px;
        max-height: 570px;
        border: 1px solid red;
        margin: 0 300px;
        display: flex;
    }

    &__section{
        flex-grow: 1;
        border: 1px solid yellow;
        max-width: 50%;
    }

    &__text {
        //webkit-box-align: center;
        text-align: center;
        padding-top: 247px;
    }

    &__button {
        font-size: 50px;
        background: linear-gradient(to right, #ECD7D7, #DC7979);
        color: green;
        width: 300px;
        margin-left: 180px;
        margin-top: 10px;

    //    &:hover {
    //         transform: scale(1.5);
    //    }
    }

    &__cat_img {
        flex-grow: 1;
        border: 1px solid purple;
        // background-image: url('/images/chinese_cat.png');
        background-size: cover;
        max-width: 50%;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__kot {
        width: 93%;
        height: 91%;
        margin-top: 47px;
    }

}


